.title {
  width: 100%;
  text-align: center;
  font-size: 60px;
  font-family: "Ropa Sans", regular;
  font-style: normal;
  color: black;
  font-weight: 600;
  margin: 0 auto;
  padding-left: 3%;
  padding-right: 3%;
}

.navMessage {
  font-size: 50px;
  /* font-family: wigwag-deluxe, sans-serif; */
  color: white;
  font-weight: 400;
  background-color: red;
  font-style: normal;
  margin: 10px 0;
}

@media (min-width: 315px) and (max-width: 500px) {
  .title {
    font-size: 25px;
    font-weight: 600;
  }
  .navMessage {
    font-size: 12px;
    margin: 0;
  }
}
